* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Inconsolata, Consolas, monospaced, sans-serif;
}

body {
	background-color: #CCC;
	min-width: 800px;
}

header {
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0px auto 0px auto;
	height: 80px;
	background-color: #333333;
}

h1 {
	width: 99%;
	color: #FF5050;
	font-size: 18pt;
	text-align: right;
}

h2 {
	margin-top: 1px;
	width: 99%;
	color: #FF5050;
	font-size: 8pt;
	text-align: right;
}

a {
	color: #99CCFF;
	text-decoration: none;
}

a:hover {
	color: #00DDFF;
}

p {
	margin-top: 20px;
	margin-bottom: 5px;
	color: #DDDDDD;
	font-size: 11pt;
}

#inputPanel {
	width: 225px;
	position: absolute;
	top: 1px;
	left: 20px;
}

input {
	float: right;
	background-color: #EEEEEE;
	width: 50px;
	font-size: 11pt;
	margin-right: 7px;
}

.inputButton {
	margin-top: 5px;
	background-color: #555555;
	color: #DDDDDD;
	outline: none;
	font-size: 10pt;
	border-radius: 20px;
	height: 25px;
	margin-bottom: 10px;
}

#reset {
	width: 90px;
	margin-left: 10px;
}

#go {
	width: 50px;
	margin-left: 60px;
}

#colorPanel {
	width: 250px;
	position: absolute;
	bottom: 5px;
	left: 300px;
}

.colorButton {
	height: 25px;
	width: 25px;
	border-radius: 10px;
	outline: none;
}

.colorButton:hover {
	border: 2px solid #666666 !important;
}

#useRed {
	background-color: red;
}

#useBlue {
	background-color: blue;
}

#useGreen {
	background-color: green;
}

#useYellow {
	background-color: yellow;
}

#usePurple {
	background-color: purple;
}

#container {
	margin: 90px auto 90px auto;
	width: 800px;
	height: 800px;
	background-color: #CCC;
}

.gridbox {
	float: left;
	width: 25px;
	height: 25px;
	background-color: white;
}

footer {
	margin-top: 20px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 80px;
	background-color: #333333;
	color: #AAA;
}

h4 {
	margin-right: 10px;
	margin-top: 65px;
	float:right;
	font-size: 9pt;
}